* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

body {
  background: white;
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
}

/* Container */
.container {
  display: grid;
  gap: 10px;
}

/* Header */
.header {
  box-sizing: border-box;
  margin: 95px 25px 10px 25px;
  display: grid;
  grid-template-areas:
    "hero hero feature-1"
    "hero hero feature-2";
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 25%);
}

.hero {
  border-radius: 3px;
  grid-area: hero;
  min-height: 410px;
  padding: 50px;
  background-image: url(img/hero.jpg);
  background-position: center;
}

.hero > * {
  display: none;
}

.features {
  border-radius: 3px;
  background-color: black;
  color: #197419;
  display: grid;
  place-content: center;
  text-align: center;
  cursor: pointer;
}

.feature-1 {
  grid-area: feature-1;
  background-image: url(img/feature/3.jpg);
  background-size: cover;
}

.feature-2 {
  grid-area: feature-2;
  background-image: url(img/feature/2.png);
  background-size: cover;
}

.features .item {
  font-size: 3em;
}

.features .desc {
  font-size: 1.3em;
}

/* Nav */
.menu {
  position: fixed;
  z-index: 99;
  order: -1;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  width: 100%;
  background-color: white;
  padding: 20px 0px 20px 50px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}

.menu .brand {
  width: 7em;
}

.menu ul {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5px;
  padding-right: 100px;
}

.menu a {
  border-radius: 3px;
  display: block;
  background-color: #006400;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-size: 0.8em;
}

/* Hamburger Menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 15px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 20px;
  height: 20px;
  opacity: 0;
  top: -2px;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #006400;
  border-radius: 3px;
  transition: all 0.5s;
}

/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:last-child {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: white;
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  background-color: white;
  opacity: 0;
  transform: scale(0);
}

.menu-toggle input:checked ~ span:last-child {
  background-color: white;
  transform: rotate(-45deg) translate(0, -1px);
}

/* About */
.about {
  background-color: white;
  border-radius: 3px;
  display: grid;
  text-align: center;
  gap: 5px;
  place-items: center;
}

.about h1 {
  color: #006400;
}

.about-content {
  padding-top: 30px;
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #66a266;
  font-size: 1.3em;
}

/* Products */
.products {
  color: #197419;
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding-top: 100px;
  text-align: center;
  justify-items: center;
}
.products h1 {
  color: #006400;
  grid-column: 1/-1;
}

.product {
  background-color: white;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 25%);
  width: 60%;
}

.product h3 {
  padding-top: 10px;
  font-size: 1.5em;
}

.product p {
  font-size: 1em;
}

/* Contact Form */
.contact {
  display: grid;
  color: #197419;
  justify-items: center;
}

.contact h1 {
  grid-column: 1/-1;
  text-align: center;
  color: #006400;
}

.contact form {
  padding-top: 20px;
  width: 65%;
  box-sizing: border-box;
}

input[type="text"],
select,
input[type="email"] {
  width: 100%;
  padding: 15px 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 20px 0;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 25%);
  font-family: inherit;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 15px 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
  margin: 20px 0;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 25%);
  font-family: inherit;
}

input[type="submit"] {
  width: 10%;
  background-color: #006400;
  color: white;
  padding: 10px 10px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 25%);
  font-family: inherit;
}
input[type="submit"]:hover {
  opacity: 1;
}

/* Footer */
footer {
  display: grid;
  grid-template-areas:
    "logo"
    "social"
    "creator";
  justify-items: center;
  padding: 20px;
  gap: 20px;
}
.logo {
  width: 10%;
  grid-area: logo;
}
.social {
  width: 4%;
  grid-area: social;
}

.creator {
  grid-area: creator;
}

/* Responsive Breakpoint */
@media (max-width: 1024px) {
  .menu {
    box-sizing: border-box;
    position: static;
    order: inherit;
    grid-template-columns: 1fr;
    box-shadow: none;
    padding-left: 0px;
    padding: 0px 20px;
  }
  .menu ul {
    padding-right: 0;
  }
  .menu .brand {
    display: none;
  }
  .header {
    margin-top: 20px;
  }
  .hero > * {
    display: block;
    background-color: #006400;
    border-radius: 3px;
    color: white;
    padding: 5px;
    margin-bottom: 5px;
  }

  .hero {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
  }

  .heading {
    border-radius: 3px;
    background-color: white;
  }
  .products {
    width: 90%;
  }
  input[type="submit"] {
    width: 20%;
  }

  .logo {
    width: 15%;
    grid-area: logo;
  }
  .social {
    width: 7%;
    grid-area: social;
  }
}
@media (max-width: 768px) {
  .menu {
    padding-top: 20px;
    order: -1;
    justify-items: end;
  }

  .menu-toggle {
    display: flex;
    z-index: 10;
  }
  .menu ul {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    width: 100vw;
    height: 30vh;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: #006400;
    z-index: 1;
    transform: translateY(-100%);
    transition: all 0.5s;
    opacity: 0;
  }

  .menu ul.slide {
    opacity: 1;
    transform: translateY(0);
  }
  .about-content {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .products {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 0px;
    width: 65%;
  }
  .logo {
    width: 20%;
    grid-area: logo;
  }
  .social {
    width: 10%;
    grid-area: social;
  }
}
@media (max-width: 600px) {
  .header {
    grid-template-areas:
      "hero"
      "feature-1"
      "feature-2";
  }
  .features {
    height: 200px;
    background-position: top;
    color: #197419;
  }
  .products {
    width: 80%;
  }
  .logo {
    width: 25%;
    grid-area: logo;
  }
  .social {
    width: 10%;
    grid-area: social;
  }
}
