* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

body {
  background: white;

  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
}

/* Scroll Bar */
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 100, 0, 0.8);
  border-radius: 3px;

  transition: all 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: #006400;
}

/* Container */
.container {
  display: grid;
}

/* Header */
.header {
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    "hero hero feature-1"
    "hero hero feature-2";
  margin: 110px 25px 10px 25px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 25%);
}

.hero {
  grid-area: hero;
  min-height: 65vh;
  padding: 50px;
  background-image: url(img/hero.jpg);
  background-position: center;
  border-radius: 3px;
}

.hero > * {
  display: none;
}

.features {
  display: grid;
  place-content: center;
  background-color: black;
  border-radius: 3px;

  color: #197419;
  text-align: center;

  cursor: pointer;
}

.feature-1 {
  grid-area: feature-1;
  background-image: url(img/feature/3.jpg);
  background-size: cover;
}

.feature-2 {
  grid-area: feature-2;
  background-image: url(img/feature/2.png);
  background-size: cover;
}

.features .item {
  font-size: 3em;
}

.features .desc {
  font-size: 1.3em;
}

/* Nav */
.menu {
  position: fixed;

  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  padding: 20px 0px 20px 50px;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 25%);

  z-index: 99;
  order: -1;
}

.menu .brand {
  width: 7em;
}

.menu ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5px;
  padding-right: 100px;

  list-style: none;
}

.menu a {
  display: block;
  padding: 10px;
  background-color: rgba(0, 100, 0, 1);
  border-radius: 3px;

  font-size: 0.8em;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  transition: all 0.2s;
}

.menu a:hover {
  background-color: rgba(0, 100, 0, 0.8);
}

/* Hamburger Menu */
.menu-toggle {
  position: relative;

  display: none;
  flex-direction: column;
  height: 15px;
  justify-content: space-between;
}

.menu-toggle input {
  position: absolute;
  top: -2px;

  width: 20px;
  height: 20px;

  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #006400;
  border-radius: 3px;

  transition: all 0.5s;
}

/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:last-child {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: white;

  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  background-color: white;

  transform: scale(0);
  opacity: 0;
}

.menu-toggle input:checked ~ span:last-child {
  background-color: white;

  transform: rotate(-45deg) translate(0, -1px);
}

/* About */
.about {
  display: grid;
  gap: 5px;
  place-items: center;
  background-color: white;
  border-radius: 3px;

  text-align: center;
}

.about h1 {
  color: #006400;
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 60%;
  padding-top: 30px;

  color: #66a266;
  font-size: 1.3em;
}

/* Products */
.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 20px;
  margin: 50px;
  padding-top: 100px;

  color: #197419;
  text-align: center;
}
.products h1 {
  grid-column: 1/-1;

  color: #006400;
}

.product {
  width: 60%;
  padding: 20px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 25%);

  cursor: pointer;
}

.product h3 {
  padding-top: 10px;

  font-size: 1.5em;
}

.product p {
  font-size: 1em;
}

/* Contact Form */
.contact {
  display: grid;
  grid-template-areas:
    "hd hd hd"
    "left form form"
    "left form form";
  grid-template-columns: 2fr 3fr;
  gap: 20px;
  margin: 0 50px;
  box-sizing: border-box;

  color: #197419;
}

#contact {
  position: relative;
  z-index: 2;
  bottom: 80px;
  opacity: 0;
}

.contact h1 {
  grid-area: hd;

  text-align: center;
  color: #006400;
}

.contact form {
  padding: 50px;
  grid-area: form;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 25%);
}

.left {
  grid-area: left;
  background-color: #197419;
  padding: 20px;
  border-radius: 3px;
}

.social {
  display: flex;
  align-items: center;
  padding-top: 50px;
  grid-area: ig;

  transition: all 0.5s;
}

.social img {
  width: 5%;
}

.social a {
  margin-left: 5px;
  font-weight: 400;
  color: white;
  text-decoration: none;
}
.social a:hover {
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 1px;
}

.location {
  grid-area: location;
  margin-top: 20px;
  border-radius: 3px;
}
/* Alert and Loading */
.my-alert {
  display: none;
  place-items: center;
  padding: 20px;
  margin-bottom: 20px;

  box-sizing: border-box;
  border-radius: 3px;
}

.btn-close {
  margin-left: 170px;
  height: 20px;
  background-color: none;
}

.my-alert button[type="button"] {
  background-color: rgba(0, 100, 0, 0);
  border: none;
  cursor: pointer;
}

.btn-close span {
  display: block;
  width: 25px;
  height: 2px;
  background-color: #006400;
  border-radius: 3px;
  margin: 2px;
}

.btn-close span:nth-child(1) {
  transform: rotate(45deg) translate(3px, 3px);
}

.btn-close span:nth-child(2) {
  transform: rotate(-45deg) translate(-1px, 0px);
}

.btn-loading {
  display: none;
  box-sizing: border-box;
  width: 10%;
  padding: 10px 10px;
  background-color: #006400;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 25%);

  font-family: inherit;
  color: white;

  cursor: pointer;
}

/* Form */

input[type="text"],
select,
input[type="email"] {
  box-sizing: border-box;
  width: 100%;
  padding: 15px 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 20px 0;
  /* box-shadow: 0 0 5px 0 rgb(0 0 0 / 25%); */

  font-family: inherit;
}

textarea {
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  margin: 20px 0;
  padding: 15px 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  /* box-shadow: 0 0 5px 0 rgb(0 0 0 / 25%); */

  font-size: 16px;
  font-family: inherit;

  resize: none;
}

.btn-send {
  box-sizing: border-box;
  width: 15%;
  padding: 10px 10px;
  background-color: #006400;
  border: none;
  border-radius: 3px;
  /* box-shadow: 0 0 5px 0 rgb(0 0 0 / 25%); */

  font-family: inherit;
  color: white;

  cursor: pointer;
}
.btn-send:hover {
  opacity: 0.9;
}

/* Footer */
footer {
  display: grid;
  grid-template-areas:
    "logo"
    "creator";
  gap: 20px;
  justify-items: center;
  margin-top: 50px;
  padding: 20px;
}

.logo {
  grid-area: logo;
  width: 10%;
}

.creator {
  grid-area: creator;
}

/* Responsive Breakpoint */
@media (max-width: 1024px) {
  .menu {
    position: sticky;
    top: 0;

    grid-template-columns: 1fr;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: none;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 25%);

    order: inherit;
  }
  .menu ul {
    padding-right: 0;
  }
  .menu .brand {
    display: none;
  }
  .header {
    margin-top: 20px;
  }
  .hero > * {
    display: block;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #006400;
    border-radius: 3px;

    color: white;
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  .product {
    width: 80%;
  }

  .heading {
    background-color: white;
    border-radius: 3px;
  }

  .btn-send {
    width: 20%;
  }

  .logo {
    grid-area: logo;
    width: 15%;
  }

  .item,
  .desc {
    z-index: -1;
  }
  .social img {
    width: 10%;
  }
}
@media (max-width: 768px) {
  .menu {
    justify-items: end;
    padding-top: 20px;

    order: -1;
  }

  .menu-toggle {
    display: flex;

    z-index: 10;
  }
  .menu ul {
    position: absolute;
    right: 0;
    top: 0;

    display: flex;
    width: 100vw;
    height: 30vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #006400;

    opacity: 0;
    transform: translateY(-100%);
    transition: all 0.5s;
    z-index: 1;
  }

  .menu a {
    transition: all 0.3s;
  }

  .menu a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  .menu ul.slide {
    opacity: 1;
    transform: translateY(0);
  }
  .about-content {
    grid-template-columns: 1fr;
    gap: 20px;
    width: 80%;
  }
  .products {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .product {
    width: 80%;
    place-items: center;
  }
  .logo {
    grid-area: logo;
    width: 20%;
  }
  .contact {
    display: grid;
    grid-template-areas:
      "hd "
      "form"
      "left";
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 0 20px;
  }

  .contact form {
    padding: 20px;
  }
  .location {
    padding-bottom: 30vh;
  }
  .social img {
    width: 5%;
  }
}
@media (max-width: 600px) {
  .header {
    grid-template-areas:
      "hero"
      "feature-1"
      "feature-2";
  }
  .features {
    background-position: top;

    height: 200px;

    color: #197419;
  }
  .products {
    width: 100%;
    justify-self: center;
  }
  .product {
    width: 70%;
  }
  .logo {
    grid-area: logo;
    width: 25%;
  }
  .btn-send {
    width: 20%;
  }
}
